@charset "utf-8";
/*
* Color definition
*/

$themewhite: #f9f7f6;
$themelightblue: rgb(135, 178, 200);
$themedarkblue: rgb(13,59,98);
$light-green: #1ECD97;
$themedarkgreen: #8E9191;
$buttonError: #FB797E;
$labelError: #f71212;
$light-red: #E07D7D;
$warning-dark: #646464;
$button-light-blue: #529ecc;

$twitter-color: rgb(114, 146, 244);
$youtube-color: rgb(255, 41, 41);
$facebook-color: rgb(53, 78, 142);
$wechat-color: rgb(48, 170, 26);
$weibo-color: rgb(239, 78, 78);
$qq-color: rgb(7, 171, 221);

$nav-height: 60px;
$full-max-width: 1600px;

$top-menu-width: 300px;

/*
* Font definition
*/

$fonts: 'Avenir Next',
"PingFang SC",
"Helvetica Neue",
'Microsoft Yahei',
'微软雅黑',
Arial,
sans-serif;