@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/sweetalert";
@import "variables";

body {
  font-family: $fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}