.page-content {
    background: #A52A2A;
}

.navbar .logo-box {
    background: #A52A2A;
}

.navbar .logo-box a {
    color: #fff;
}

.sidebar {
    background: #A52A2A;
}

.sidebar-header {
    background: #A52A2A;
}

.sidebar-profile span small {
    color: #ccc;
}

.menu {
    background: #A52A2A;
}

.menu.accordion-menu a {
    color: #ccc;
}

.menu.accordion-menu > li > a:hover {
    background: #892731;
    color: #fff;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
    background: #892731;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #892731;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
    background: #892731;
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #ccc;
}

.pace .pace-progress {
    background: #A52A2A;
}

.pace .pace-progress {
    box-shadow: 0 0 10px #A52A2A, 0 0 5px #A52A2A;
}


.btn-primary {
    background: #A52A2A !important;
}

.btn-primary:hover {
    background: #862424 !important;
}